@media all and (max-width: 480px) {
  .cover {
    width: 1000px;
    transform: 
  }
  
  .whywording{
    font-size: 2em;
    left: 15%;
  }
  
  .whyparaph{
    width: 70vw;
    left: 14%;
  }
  
  .prewording2{
    font-size: .6em;
  }
  
  
  
  .logobar{
  position: fixed;
  width: 100vw;
  height: 90px;
  background-color: #F2F1E7;
  top: 0;
  left:0;
  z-index: 3;
}
  
  
.logo{
  width: 120px;
  position: relative;
  left: 10px;
  top:45px;
 
}
  
  
}


